body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin: 20%;
}

h1 {
    color: grey;
    font-family: Verdana, serif;
}

form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.grid-item-1, .grid-item-2 {
    grid-row: 1;
}

.grid-item-3, .grid-item-4, .grid-item-5 {
    grid-row: 2;
}

.grid-item-6, .grid-item-7 {
    grid-row: 3;
}

.grid-item-8 {
    grid-row: 4;
}

.grid-item-9 {
    grid-row: 5;
    grid-column: 1 / 4;
}
